@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

*{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

.Container{
  display: flex;
}
main{
  width: 100%;
  padding: 20px;
  background-color: #EBEBEB;
}
.Logo{
  display: flex;
  text-align: center;
  align-items: center;
  opacity: 90%;
  font-family: "Arial Rounded MT Bold";
  margin: 35px 0px 82px 40px;
  gap: 6px;
}
.Logo p{
  font-size: 23px;
}
.Sidebar{
background-color: #E7E8E8;
height: 100vh;
width: 436px !important;
border-right-style: solid;
border-color: #D3D4D5;
}
.link{
  display: flex;
  font-family: 'Bai Jamjuree', sans-serif;
  color: #1A232C;
  font-size: 21px;
  margin: 18px 40px;
  gap: 14px;
  opacity: 70%;
  padding: 14px 20px;
  border-radius: 25px;
  text-align: center;

}
.link:hover{
  background-color: #29323C;
  color: #E7E8E8;
  transition: all 0.3s;
  box-shadow: 0px 1px 8px #29323C;
}
.active{
  background-color: #29323C;
  color: #E7E8E8;
  opacity: 100%;
  box-shadow: 0px 1px 8px #29323C;
}